form {
    width: 100%;
}

.loginBox {
  width: 30%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}
  
.signUpSubmit {
  margin: 25px 0 15px 0;
}

.pwStrRow {
  width: 63%;
  text-align: left;
  margin: auto;
  padding: 0;
  font-size: 12px;
}

.pwStrWeak {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  color: gray;
}

.pwStrStrong {
  display: inline-block;
  position: relative;
  left: 77%;
  padding: 0;
  margin: 0;
  color: gray;
}

@media screen and (max-width: 550px) {
  .loginBox {
    width: 85%;
  }
}

.box {
  color: rgb(131, 126, 130);
  font-size: 100%;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width:100%;
  height: 100%;
  background-image: url("http://127.0.0.1:10000/devstoreaccount1/rizzyco-container/RizzyCoMap.png");
  background-size: 100% 100%;
  background-position: center;
  position: relative
}

img{
  z-index: -1;
}

.logOutDiv{
  float: right;
}

h1{
  text-align: center;
}

.HUDDiv{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border:3px solid rgb(156, 141, 141);
  margin:20px;
  font-size:18px;
}

.controlsContainer{
  display: flex;
  flex-direction: column; 
  width: 70%;
  justify-content: stretch; 
}

.controlsDiv{
  display: flex;
  justify-content: space-between;
}

.endTurnBtn{
  align-self: center;
  margin-top: 15px;
}

.waitingLobbyDiv{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size: large;
  background-color: #917153;
  width: 30%;
  margin:auto;
}

.continueGameBtn, .startGameBtn{
  font-weight: bold;
  font-size: large;
  padding: 10px;
  border-style: dotted;
}

.continueGameBtn:hover {
  background-color: #1a303a; 
  color: white;
}

.startGameBtn:hover {
  background-color: #1a303a; 
  color: white;
}

.logoImg{
  width: 200px;
  margin: 10px;
}

.navDiv{
  display: flex;
  justify-content: space-between;
}

.logoutDiv{
  margin: 15px;
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoutBtn{
  background-color: rgb(185, 46, 46);
  font-size: large;
  color: white;
  margin-top: 10px;
}

.mapDiv{
  display: flex;
}

.lobbyDiv{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size: large;
  background-color: #917153;
  width: 40%;
  margin:auto;
}

.clearPlayersBtn{
  font-weight: bold;
  padding: 3px;
  background-color: rgb(92, 88, 88);
  color: white;
  height: 30px;
}

.clearPlayersBtn:hover {
  background-color: #395461; 
  color: white;
}

.playersDiv{
  display: flex;
}

.clearPlayersDiv{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.gameSelectDiv{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContainer{
  display: flex;
  flex-direction: column;
}

.homeGameDiv{
  border:whitesmoke 1px solid;
  padding-left: 90px;
  padding-right: 90px;
  margin: 20px;
  font-size: large;
  background-color: rgb(143, 110, 68);
  display: flex;
  flex-direction: column;
}

.continueGameHomeBtn{
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  align-self: center;
}

.continueGameHomeBtn:hover {
  background-color: #1a303a; 
  color: white;
}

.createLobbyBtn{
  width: 8%;
  align-self: center;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}

.createLobbyBtn:hover {
  background-color: #7e376e; 
  color: white;
}

.reinforcementDiv{
  border:1px solid black;
  padding: 15px;
}

.attackDiv{
  border:1px solid black;
  padding: 15px;
}

.defenceDiv{
  border:1px solid black;
  padding: 15px;
}

textarea{
  overflow-y: scroll;
  resize: none;
  height: 100%;
  width: 100%;

}

.textareaDiv{
  width: 30%;
}

.cards{
  display: flex;

}

.card{
  border: rgb(223, 213, 213) solid 1px;
  margin:20px;
  padding:10px;
  display:flex;
  flex-direction: column; 
  align-items: center;
  background-color: rgb(226, 96, 92);
}

#useCardsBtn{
  margin-left: 20px;
}

        