.textfield{
    margin: 3px;
    padding: 10px;
}

.DonkeyGameTitle{
    font-size: 50px;
    color: aquamarine;
}

.loginBox *{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}
.signUpSubmit{
    padding: 5px;
    margin: 10px;
}