.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Form Button {
  width: 100%;
}

h2 {
  color: #313131;
}

h6 {
  color: greenyellow;
}

hr.line {
  border: 3px dashed purple;
  width: 100%;
}

.app {
  margin: auto;
  padding-top: 40px;
  width: 950px;
  text-align: center;
}

.lobby {
  width: 400px;
  margin: auto;
}

.chat {
  display: grid;
}

.leave-room {
  text-align: right;
  margin-bottom: 4px;
}

.user-list {
  float: left;
  background-color: #313131;
  color: white;
  width: 200px;
  height: 440px;
  margin-right: 4px;
}

.message-container {
  height: 400px;
  background-color: white;
  overflow: auto;
  border-radius: 5px;
  margin-bottom: 2px;
}

.user-message {
  text-align: right;
  padding-right: 5px;
  font-size: 18px;
}

.message {
  display: inline-flex;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 18px;
  color: white;
  border-radius: 20px;
  margin-top: 3px;
}

.from-user {
  font-size: small;
  margin-bottom: 3px;
  margin-right: 5px;
}

table,
th,
td {
  border-width: 10px;
  border-color: #313131;
  border-style: solid;
  color: rgb(6, 21, 21);
  width: 300px;
  text-align: center;
  justify-content: center;
  font-size: 25px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* style={{ "borderWidth": "3px", 'borderColor': "#aaaaaa", 'borderStyle': 'solid', 'fontFamily':'cursive' }} */
tr:hover {
  background-color: yellow;
}

input.checked {
  background-color: #007a7e;
  position: relative;
}

input.checked::before {
  content: "\2714";
  font-size: 0.8em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}

input[type="checkbox"] {
  margin-top: 30px;
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1em;
  height: 1em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #007a7e;
  outline: none;
  cursor: pointer;
}

.dugme {
  font-size: 30px;
  background-color: #fff;
}

.passACardButton {
  background-color: rgb(58, 15, 15);
  width: 60%;
  align-self: center;
}
